<div class="parent">  
    <div class="SAR-1">
        <h2>User Registratiion</h2>
        <hr>
        <label>Email ID:</label>
        <input type="text">
        <br>
        <label>Password:</label>
        <input type="password">
        <br>
        <h2>User Informatiion</h2>
        <hr>
        <label for="">Frist name:</label>
        <input type="text">
        <br>
        <label for="">last name:</label>
        <input type="text">
        <br>
        <label for="">Mobile</label>
        <input type="number">
        <br>
        <label for="">Nationality</label>
        <input type="text">
        <br>
        <h2>User Address Details</h2>
        <hr>
        <label for="">Full Address:</label>
        <input type="text">
        <br>
        <label for="">city:</label>
        <input type="text">
        <br>
        <label for="">state:</label>
        <input type="text">
        <br>
        <label for="">country:</label>
        <input type="text">
        <br>
        <button>Submit</button> &nbsp;
        <button>Reset</button>
    </div>
</div>
