.parent{
    height: 100vh;
    width: 100vw;
}

.SAR-1{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    background-image: url("https://gumlet.assettype.com/knocksense/2023-02/d0fe5f86-2bd3-4647-8204-7ca977dbf409/61ADADDD_11FD_4295_A41E_FA63A271BB2B.jpeg?w=1200&h=675&auto=format%2Ccompress&fit=max&enlarge=true");
}
