<div class="parent">
    <div class="SAR-1">
        <div  class="Raju-1">
              <h1>ContactUs</h1>
        </div>
    </div>
    <div class="SAR-2">
        <h3>Get in Touch</h3>
       <br>
       <textarea name="" id="" cols="80" rows="5"></textarea>
       <br>
       <div class="comment">
            <input type="text" placeholder="Enter Your Name">
            <input type="text" placeholder="Email">
       </div>
        <div>
            <input type="text" >
        </div>
    </div>
</div>

