
<div class="parent">
    <h1 class="system"><mark> Railway Reservation System</mark></h1>
    <div class="left">
        <h3 routerLink="home"><button>Home</button></h3>
        <h3 routerLink="search-train"><button>Search-train</button></h3>
        <h3 routerLink="costomer-login"><button>customer-login</button></h3>
        <h3 routerLink="registration"><button>Registration</button></h3>
        <h3 routerLink="contact"><button>Contact</button></h3>
        <h3 routerLink="about"><button>About</button></h3>
        <h3 routerLink="feedback"><button>Feedback</button></h3>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
