
<div class="parent">
    <div class="SAR-1">
        <h3><mark>Search Your Train</mark></h3>
        <div class="image-parent">
            <div>
                <select >
                    <option>selet from city</option>
                    <option>vikarabad</option>
                    <option>karimnagar</option>
                    <option>ananthapur</option>
                    <option>nalgonda</option>
                </select>
            </div>  &nbsp;
            <div>
                <select >
                    <option>selet to city</option>
                    <option>vikarabad</option>
                    <option>karimnagar</option>
                    <option>ananthapur</option>
                    <option>nalgonda</option>
                </select>
            </div> &nbsp;
            <div>
                <input type="number" placeholder="Total Passengar">
                <br>
                <label for="TOB"><br>
                    <input type="datetime-local" >
                </label>
            </div>&nbsp;
            <div>
                <button>Search</button>&nbsp; &nbsp; &nbsp;
                <button>Reset</button>
            </div>
        </div>
    </div>
    <div class="SAR-2">
        <div class="train">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtZBAIq1Jte-_bXnFRPvE3ErtByUYN-ih2f11RS6trOTC1R2h3Xw-jKMnmFIFnIcAT6_a8yUbxnEM&usqp=CAU&ec=48600112">
            <span style="background-color: rgb(90, 246, 12);">VandeBharat train</span>
            <br>
            <a href="" class="ticket">
                <button>Ticket BOOKING</button> &nbsp; 
                <button>Cancel</button>
            </a>
        </div>
        <div>
            <img src="https://thumbs.dreamstime.com/b/steam-train-engine-beautiful-red-railway-passing-lush-green-british-forest-55435070.jpg">
            <span  style="background-color: rgb(90, 246, 12);">vikarabad train</span>
            <br>
            <a href="" class="ticket">
                <button>Ticket BOOKING</button> &nbsp; 
                <button>Cancel</button>
            </a>
           
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh1-rDv9h8FmGALToSa0UWv9PEQcQbBlFiIX_kt8Opag&usqp=CAU&ec=48600112">
            <span  style="background-color: rgb(90, 246, 12);">Bullet trin</span>
            <br>
            <a href="" class="ticket">
                <button>Ticket BOOKING</button> &nbsp; 
                <button>Cancel</button>
            </a>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThE82AYAHzaaywXsp9p46Wmy5ajbnxVKaRpX5M2MVw8_oYDmVG-wjK6p8FEi5PAI36AASkz9ANdYk&usqp=CAU&ec=48600112">
            <span  style="background-color: rgb(90, 246, 12);">Local train</span>
            <br>
            <div class="ticket">
                <button>Ticket BOOKING</button> &nbsp; 
                <button>Cancel</button>
            </div>
        </div>
        

    </div>
</div>
